@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@font-face {
  font-family: "Lapsus Pro";
  src: url("../src/fonts/LapsusPro-Bold.otf") format("opentype");
}
#windows-container{
  display: flex;
  width: 100%;
  height: 200px;
  border:2px solid yellowgreen;
}
#settings-window{
  height:180px;
  width:260px;
  margin-left: 75px;
}
#animals-window{
  height:180px;
  width:180px;
}
#food-window{
  height:150px;
  width:150px;
  margin-left: 20px;
}
.window{
  opacity: 0.9;
  font-family: "Lapsus Pro";
  color: #4f2105;
  background-color: #fe6a00;
  border-color: black !important;
  border-style: solid !important;
  border-radius: 7px;
  border-width: 3px;
}
body {
  width:100%;
  height:100%;
  border:2px solid salmon;
  font-family: "Lapsus Pro";
  margin:0;
  padding:0;
  background-color: transparent !important;
  overflow: hidden; 
}
#upper-container{
  display: flex;
}
.settings_div{
  margin-left: 180px !important;
  display: flex;
}

#close:hover{
  color: white;
}
.dragme{
  -webkit-app-region: drag;
  margin: 0;
  margin-top: 7px;
  text-align: center;
  font-size: 30px;
  color:white;
}
.upper-element{
  margin-left: 10px;
  margin-top: 6px;
  -webkit-app-region: no-drag;
  height:30px;
  background-color: white;

}
.white-border{
  border-color: white !important;
  border-style: solid !important;
  border-radius: 7px;
  border-width: 2px;
}
.button-inside{
  font-family: "Lapsus Pro";
  color: #4f2105;
  background-color: #fe6a00;
  height:30px;
  border-color: black !important;
  border-style: solid !important;
  border-radius: 7px;
  border-width: 3px;
}
.button-inside:hover{
  color: #e6e6e6;
}
.fa-sliders{
  pointer-events: all; cursor:pointer;
  width:30px !important;
  margin: 0px !important;
  padding: 0px !important;
  height: 20px !important;
  padding-top: 4px !important;
  text-align: center;
  font-family: "Font Awesome 6 Free" !important;
}